div(class="navbar navbar-inverse navbar-fixed-top")
    .container(class="container-fluid")
        div(class="navbar-header")
            a(href="/dashboard1" class="navbar-brand") URL Shortener
        ul(class="nav navbar-nav navbar-left")
           li
             a(href="/dashboard1") #{username}
        ul(class="nav navbar-nav navbar-right")
           li
             a(href="logout" class="glyphicon glyphicon-log-out") Logout


