nav(class="navbar navbar-default")
    div(class="container-fluid")
        div(class="navbar-header")
            a(href="/dashboard1" class="navbar-brand") URL Shortener
        div
            ul(class="nav navbar-nav navbar-left")
               li
                a(href="/dashboard1" class="collapsed") #{email}
            ul
               li
                 a(href="logout" class="glyphicon glyphicon-log-out collapsed")  Logout