nav(class="navbar navbar-default " role="navigation")
   div(class="container-fluid")
      div(class="navbar-header")
         button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span(class="sr-only")
            span(class="icon-bar")
            span( class="icon-bar")
            span(class="icon-bar")
         a(class="navbar-brand" href="/") URL Shortener
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
         ul(class="nav navbar-nav navbar-left")
            li
                a(href="/dashboard1" class="collapsed") #{email}
         ul(class="nav navbar-nav navbar-right")
            li
              a(href="logout" class="glyphicon glyphicon-log-out collapsed")  Logout
