nav(class="navbar navbar-default" role="navigation")
    div(class="container-fluid")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#action")
                span(class="sr-only")
                span(class="icon-bar")
                span( class="icon-bar")
                span(class="icon-bar")
            a(class="navbar-brand" href="/") URL Shortener
        div(class="collapse navbar-collapse" id="action")
            ul(class="nav navbar-nav navbar-right")
                li
                    a(href="signup" class="glyphicon glyphicon-user ")  SignUp
                li
                    a(href="login" class="glyphicon glyphicon-log-in ")  Login