div(class="navbar navbar-default")
    div(class="container-fluid")
        div(class="navbar-header")
            a(href="/" class="navbar-brand") URL Shortener
        div(class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
                li
                    a(href="signup" class="glyphicon glyphicon-user ")  Sign Up
                li
                    a(href="login" class="glyphicon glyphicon-log-in ")  Login