div(class="navbar navbar-inverse navbar-fixed-top")
    .container(class="container-fluid")
        div(class="navbar-header")
            a(href="/" class="navbar-brand") URL Shortener
        ul(class="nav navbar-nav navbar-right")
            li
                a(href="signup" class="glyphicon glyphicon-user") Sign Up
            li
                a(href="login" class="glyphicon glyphicon-log-in") Login