body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aquamarine !important;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}